<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common_js :: common_js"></div>
</head>
<body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">管理登录</div>
        <div id="darkbannerwrap"></div>
        <form class="layui-form" >
            <input id = "account" name="account" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input id="pwd" name="passWord" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="button" onclick="submitLoginInfo()">
            <hr class="hr20" >
        </form>
    </div>

    <script type="text/javascript">
        function submitLoginInfo() {
            var account = $("input[name = 'account']").val();
            var passWord = $("input[name = 'passWord']").val();
            $.ajax({
                url:"/checkUser",
                type:"POST",
                dataType:'json',
                data:{account:account,passWord:passWord},
                async:true,
                success : function(data) {

                if(data.code == '1001'){
                    var userId = data.data.id;
                    window.location.href = "/index?userId=" + userId;
                  }else if(data.code == '2002'){

                    layer.tips(data.message, '#account',{tips:[2,"red"]});
                  }else if(data.code == '2003'){
                    layer.tips(data.message, "#pwd",{tips:[2,"red"]});
                    }
                }
            })
        }
    </script>
</body>
<div id="box1"></div>
</html>
