<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.wms.mapper.StudentMapper">

    <select id="findStudentMapperList"  resultType="com.sam.wms.entity.Student">
        SELECT
            st.st_id,
            st.st_name name,
            MAX(CASE sc.co_id WHEN 1 THEN score ELSE 0 END ) chinese,
            MAX(CASE sc.co_id WHEN 2 THEN score ELSE 0 END ) math ,
            MAX(CASE sc.co_id WHEN 3 THEN score ELSE 0 END ) english
        FROM
            st_student st
                inner  JOIN  sc_score sc ON st.st_id = sc.st_id
                INNER JOIN co_course co on co.co_id = sc.co_id
        GROUP BY st.st_id
    </select>

</mapper>